@import './plugins/jquery-mini-game.css';

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}